@font-face {
    font-family:Inconsolata-Variable-Font;
    src: url(assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family:insolota-bold;
    src: url(assets/fonts/static/Inconsolata-Bold.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inconsolata-Variable-Font;
}

body{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    color: white;
    background-image: url('background-desktop.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

/*Header*/

#header-wrapper{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 23px;
}

h2{
    font-size: 2.2em
}

#logo-mark{
  height: 30px;
  margin-top: 5px;
}


h1{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 3.8rem;
  text-align: center;
  font-family: insolota-bold;
  
}

#align-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    gap: 3rem;
    flex-grow: 1;
    margin-top: 2rem;
}

.spacer{
    display: block; /* Faz com que o span se comporte como um bloco */
    height: 5px; 
}

.information-text{
    text-align: center;
    font-family: Inconsolata-Variable-Font;
    font-size: 1.5rem;
    flex-grow: 0.2;
    margin-top: 15px;
}

.email-color{
    color: orange;
}

#pattern-ticket{
    display: flex;
    align-items: center;
    justify-content: center;   
    position: absolute;
    
}

#overlay{
    position: relative;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;; 
    justify-content: center;  
    width: 450px; 
    height: 250px;
    margin-left: 30px;
    margin-top: 10px;
  
}

.header-overlay{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 0; 
}

.inform-overlay{
    display: flex; 
    align-items: center;
    justify-content: flex-start;;
    margin-top: 18%;
    margin-right: 0;
    
}
.logo-coding-conf{
    margin-right: 13px;
}

.coding-conf-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 200px; 
    text-align: center; 
    padding-left: 15px;
}

.avatar-edit{
    width: 90px;
    height: 90px;
    border-radius: 15px; 
    margin-right: 13px;
    flex-shrink: 0; 
}

#inform-data{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.icon-github {
    min-width: 24px;
    min-height: 24px;
}

.github-info{
    display: flex;
    flex-shrink: 0;
    align-items: center;
}
